<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views, avec la gem shotgun yay !</h1>
    <a href="/gossips/new/">crée un gossip</a>
    <h2>Les derniers gossips</h2>
    <% gossips.each do |gossip| %>
        <p>
          <ul> Auteur : <%= gossip.author %><br/></ul>
          <ul> Content : <%= gossip.content %></ul>
        </p>
      <% end %>
    </form>
  </body>
</html>
