<html>
  <head>
    <title>The Gossip Project - Display the gossip</title>
  </head>
  <body>
    <h1>Gossip Info</h1>
    
      <p>
      Voici la page du potin n°<%=params['id']%><br/>
      L'auteur du potin : <%=id.author%><br/>
      Le contenu du potin : <%=id.content%>
      </p>
    <a href="/gossips/<%=id%>/edit/">Éditer ce gossip</a><br/>
    <a href='/'>Lien pour revenir à la page des potins</a>
  </body>
</html>
