<html>
  <head>
    <title>The Gossip Project - Display the gossip</title>
  </head>
  <body>
    <h1>Gossip Info</h1>
    
    <% gossips.each do |gossip| %>
      <p>
      Voici la page du potin n°<%=id%><br/>
      L'auteur du potin : <%=gossip.author%><br/>
      Le contenu du potin : <%=gossip.content%>
      </p>
    <%end%>
    <a href="/gossips/<%=id%>/edit/">Éditer ce gossip</a><br/>
    <a href='/'>Lien pour revenir à la page des potins</a>
  </body>
</html>
